    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
   <div class="container">
    <a href="/">
      <img src="/assets/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="   navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="modal" data-target="#exampleModalCenter">
          EXPLORE
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
          <a class="nav-link login" href="#"><i class="far fa-user-circle"></i>&nbsp;LOGIN/SIGNUP</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 form-row-mobile">
      <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0 contactus" type="submit">CONTACT US</button>
      <button class="btn btn-success my-2 my-sm-0 addlisting" type="submit">ADD LISTING</button>
    </form>
  </div>
   </div> 
</nav>
<!-- navigation ends-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-action">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-action">
        <div class="row action-cities">
          <%= render 'city' %>
        </div>
      </div>
      <div class="modal-footer modal-footer-action">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>