    <!-- Navigation -->
<nav class="navbar navbar-expand-lg  bg-light fixed-top">
   <div class="container">
    <img src="assets/logo.png" alt="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="   navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EXPLORE <i class="fas fa-chevron-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
          <a class="nav-link login" href="#"><i class="far fa-user-circle"></i>&nbsp;LOGIN/SIGNUP</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 form-row-mobile">
      <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0 contactus" type="submit">CONTACT US</button>
      <button class="btn btn-success my-2 my-sm-0 addlisting" type="submit">ADD LISTING</button>
    </form>
  </div>
   </div>
</nav>
<!-- navigation ends-->


<!-- jumbotron -->

  <div class="jumbotron">
    <div class="gradient">
      <div class="container">
      <div class="col-md-10 mx-auto my-auto">

      <div class="mobile-margin">
      <p class="jumbotron-heading">Explore</p>
      <p class=" text-dark all-new">all new ways to style</p>
      <p class=" text-dark great-place ">Find great place to get your hair done, your makeup or visit from local experts.</p>
        
        <div class="explore-search">
            <div class="form-row locate-row">
              <div class="col-md-2 offset-md-8">
                  <button type="submit" class="btn btn-xs btn-success locate-button d-none d-sm-block"><i class="fas fa-map-marker-alt mr-1"></i> Locate Me</button>
              </div>
            </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="what" class="what">What</label>
                  <input type="text" class="form-control search" id="what" placeholder="Ex.Day Spa, Hair Cutting, Nail Salons, etc">
                </div>
                <div class="form-group col-md-4 ">
                  <label for="where" class="where">Where</label>
                  <select class="form-control where-search" id="where">
                      <option>Los Angeles</option>
                      <option>Los Angeles</option>
                      <option>Los Angeles</option>
                      <option>Los Angeles</option>
                      <option>Los Angeles</option>
                    </select>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-lg btn-success  search-button"><i class="fas fa-search"></i> Search</button>
                  <button type="submit" class="btn btn-xs btn-outline-success locate-button-mobile d-md-none d-sm-block"><i class="fas fa-map-marker-alt mr-1"></i> locate</button>
                </div>
              </div>
        </div>
      

      <p class=" text-dark browse-highlight">or browse the highlights</p>

      <div class="row mobile-icons">
        <a href="#"><button class="btn highlights mx-md-2 my-md-2 "><i class="fa fa-book-reader mt-3"><p class="mt-2 fa-text ">Wigs</p></i></button></a>
        <a href="#"><button class="btn highlights mx-md-2 my-md-2 "><i class="fa fa-book-reader mt-3"><p class="mt-2 fa-text ">Skin Care</p></i></button></a>
        <a href="#"><button class="btn highlights mx-md-2 my-md-2 "><i class="fa fa-book-reader mt-3"><p class="mt-2 fa-text ">Spa</p></i></button></a>
        <a href="#"><button class="btn highlights mx-md-2 my-md-2 "><i class="fa fa-book-reader mt-3"><p class="mt-2 fa-text ">Makeup</p></i></button></a>
        <a href="#"><button class="btn highlights mx-md-2 my-md-2 "><i class="fa fa-book-reader mt-3"><p class="mt-2 fa-text ">Barber</p></i></button></a>
        <a href="#"><button class="btn highlights mx-md-2 my-md-2 "><i class="fa fa-book-reader mt-3"><p class="mt-2 fa-text ">Tattoo</p></i></button></a>
      </div>

      </div>

      
      
    </div>
    </div>
      <div class="col-md-10  mx-auto see-how-works">
        <div class="offset-md-1 col-md-6">
          <p class="lead text-dark how-works"> <span class="see">See</span> how it works</p>
        </div>
      </div>
    </div>
  </div>
<!-- jumbotron -->


<!-- How it works  -->
<div class="marketing">
<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-work text-center">
        <img src="assets/magnify.svg" alt="magnify" class="img-fluid magnify">
        <p><span class="white">Search </span>Service</p>
        <p class="search-work-tag">Find what you're for, we've everthing you'll need</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-work text-center">
        <img src="assets/cities.svg" alt="magnify" class="img-fluid explore-cities">
        <p><span class="white">Explore</span> Cities</p>
        <p class="search-work-tag">Find the best beauty services in your city and more</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-work text-center">
        <img src="assets/business.svg" alt="magnify" class="img-fluid business">
        <p><span class="white">Add/Claim</span> Business</p>
        <p class="search-work-tag">You can list with us and claim id we've already listed</p>
        
      </div><!-- col-lg-4 -->
    </div><!-- work search -->
    </div><!-- row -->
  </div><!-- container -->  
</div>
<!-- How it works ends -->

<!-- jumbotron beauty tab-->

  <div class="jumbotron text-left beauty">
    <div class="container">
      <p class="Beautify">Beautify <span class="yourself">yourself</span></p>
      <p class="beautify-text ">Treating yourself has never been easier, find the best beauty serivce in town</p>

       <p class="lead text-dark my-3">
        <a href="#"><button class="btn btn-outline-success  ">SEARCH NOW</button></a>
        <a href="#"><button class="btn btn-success ">ADD/CLAIM</button></a>
      </p>

    </div>
  </div>
<!-- jumbotron beauty tab-->




<!-- carousel starts -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="container">
    <p class="client-review"><span class="client">Client</span> Reviews <a href="#" class="pt-4 see-all">see all</a> </p>
  </div>


  <div class="carousel-inner">

    <div class="carousel-item active">
          
      <div class="container">
          <div class="card-deck">
        <div class="card card-comment">
          
          <div class="card-body">
            <img src="assets/anime.jpg" alt="profile images" class="img-thumbnail rounded-circle human-circle" class="img-fluid">
            <img src="assets/quotes.svg" alt="quotes" class="img-fluid quotes">
            <p class="card-title"><span class="comment-user">Matt Smith/</span> Manager at Xepo</p>
            <p class="card-text">I must say I’m happy to list my business on salonME as they help us in every aspect of our business, because of them many customers have been able to easily search for my business.</p>
            
          </div>
        </div>
        <div class="card card-comment">
          
          <div class="card-body">
            <img src="assets/anime1.jpg" alt="profile images" class="img-thumbnail rounded-circle human-circle" class="img-fluid">
            <img src="assets/quotes.svg" alt="quotes" class="img-fluid quotes">
            <p class="card-title"><span class="comment-user" >Matt Smith/</span> Manager at Xepo</p>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
      </div>
      </div>

    </div>

    <div class="carousel-item">

      <div class="container"> 
          <div class="card-deck">
        <div class="card card-comment">
          
          <div class="card-body">
            <img src="assets/anime2.jpg" alt="profile images" class="img-thumbnail rounded-circle human-circle" class="img-fluid">
            <img src="assets/quotes.svg" alt="quotes" class="img-fluid quotes">
            <p class="card-title"><span class="comment-user" >Matt Smith/</span> Manager at Xepo</p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
          </div>
        </div>
        <div class="card card-comment">
          
          <div class="card-body">
            <img src="assets/anime3.jpg" alt="profile images" class="img-thumbnail rounded-circle human-circle" class="img-fluid">
            <img src="assets/quotes.svg" alt="quotes" class="img-fluid quotes">
            <p class="card-title"><span class="comment-user" >Matt Smith/</span> Manager at Xepo</p>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
      </div>
      </div>
                
    </div>

    <div class="carousel-item">

      <div class="container"> 
          <div class="card-deck">
        <div class="card card-comment">
          
          <div class="card-body">
            <img src="assets/anime4.jpg" alt="profile images" class="img-thumbnail rounded-circle human-circle" class="img-fluid">
            <img src="assets/quotes.svg" alt="quotes" class="img-fluid quotes">
            <p class="card-title"><span class="comment-user" >Matt Smith/</span> Manager at Xepo</p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
          </div>
        </div>
        <div class="card card-comment">
          
          <div class="card-body">
            <img src="assets/anime5.jpg" alt="profile images" class="img-thumbnail rounded-circle human-circle" class="img-fluid">
            <img src="assets/quotes.svg" alt="quotes" class="img-fluid quotes">
            <p class="card-title"><span class="comment-user" >Matt Smith/</span> Manager at Xepo</p>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
      </div>
      </div>
                
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- carousel ends  -->





<!-- tips starts-->

  <div class="album py-5">
    <div class="container">
      
      <p class="articles"><span class="tips">Some </span>tips and Articles <a href="#" class="d-none d-sm-block pt-4 see-all">see all</a> </p>
  

      <div class="row">
        <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0">
          <div class="card travel-card mb-4 shadow-sm tip-one">
           <img src="assets/women.jpg" alt="magnify" class="img-fluid">
            <div class="card-body travel-details">
              <p class="card-text travel-name">Travel style</p>
              <p class="tips-text">Top 10 ways to keep your hair clean this travelling season</p>
              <p class="date-admin">Aug 21, 2018 by <span class="admin">Admin</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 d-none d-sm-none d-md-block">
          <div class="card travel-card mb-4 shadow-sm tip-two">
            <img src="assets/city.jpg" alt="magnify" class="img-fluid">
            <div class="card-body travel-details">
              <p class="card-text travel-name">Travel style</p>
              <p class="tips-text">Top 10 ways to keep your hair clean this travelling season</p>
              <p class="date-admin">Aug 21, 2018 by <span class="admin">Admin</span></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-12 d-none d-sm-none d-md-block">
          <div class="card travel-card mb-4 shadow-sm tip-three">
            <img src="assets/cycle.jpg" alt="magnify" class="img-fluid">
            <div class="card-body travel-details">
              <p class="card-text travel-name">Travel style</p>
              <p class="tips-text">Top 10 ways to keep your hair clean this travelling season</p>
              <p class="date-admin">Aug 21, 2018 by <span class="admin">Admin</span></p>
            </div>
          </div>
        </div>
      </div>
      <p class="articles"> <a href="#" class="d-xs-block d-sm-none "><span class="see-all">see all</span></a> </p>
    </div>
  </div>
  <!-- tips end -->











  <!-- cities start-->
  <div class="orange  d-none d-sm-none d-md-block">
  <div class="container">
    <div class="row cities">
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">New York</a></li>
              <li class="list-group-item"><a href="#">Albuquerque</a></li>
              <li class="list-group-item"><a href="#">San Jose</a></li>
              <li class="list-group-item"><a href="#">Fort Worth</a></li>
              <li class="list-group-item"><a href="#">Milwaukee</a></li>
              <li class="list-group-item"><a href="#">Nashville</a></li>
              <li class="list-group-item"><a href="#">Baltimore</a></li>
              <li class="list-group-item"><a href="#">Saint Paul</a></li>
              <li class="list-group-item"><a href="#">Raleigh</a></li>
              <li class="list-group-item"><a href="#">Boston</a></li>
              <li class="list-group-item"><a href="#">Salt Lake City</a></li>
              <li class="list-group-item"><a href="#">Tulsa</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Brooklyn</a></li>
              <li class="list-group-item"><a href="#">Chicago</a></li>
              <li class="list-group-item"><a href="#">Houston</a></li>
              <li class="list-group-item"><a href="#">San Francisco</a></li>
              <li class="list-group-item"><a href="#">Seattle</a></li>
              <li class="list-group-item"><a href="#">Atlanta</a></li>
              <li class="list-group-item"><a href="#">Los Angeles</a></li>
              <li class="list-group-item"><a href="#">Philadelphia</a></li>
              <li class="list-group-item"><a href="#">Dallas</a></li>
              <li class="list-group-item"><a href="#">Las Vegas</a></li>
              <li class="list-group-item"><a href="#">Orlando</a></li>
              <li class="list-group-item"><a href="#">San Antonio</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Denver</a></li>
              <li class="list-group-item"><a href="#">Austin</a></li>
              <li class="list-group-item"><a href="#">Saint Louis</a></li>
              <li class="list-group-item"><a href="#">Tampa</a></li>
              <li class="list-group-item"><a href="#">Washington</a></li>
              <li class="list-group-item"><a href="#">Jacksonville</a></li>
              <li class="list-group-item"><a href="#">Columbus</a></li>
              <li class="list-group-item"><a href="#">Pittsburgh</a></li>
              <li class="list-group-item"><a href="#">Phoenix</a></li>
              <li class="list-group-item"><a href="#">San Diego</a></li>
              <li class="list-group-item"><a href="#">Charlorre</a></li>
              <li class="list-group-item"><a href="#">Indianapolis</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Marietta</a></li>
              <li class="list-group-item"><a href="#">Naples</a></li>
              <li class="list-group-item"><a href="#">Bakersfild</a></li>
              <li class="list-group-item"><a href="#">Columbia</a></li>
              <li class="list-group-item"><a href="#">Mesa</a></li>
              <li class="list-group-item"><a href="#">Lexington</a></li>
              <li class="list-group-item"><a href="#">Oakland</a></li>
              <li class="list-group-item"><a href="#">Boca Raton</a></li>
              <li class="list-group-item"><a href="#">Greenboro</a></li>
              <li class="list-group-item"><a href="#">Fort Myers</a></li>
              <li class="list-group-item"><a href="#">Long Beach</a></li>
              <li class="list-group-item"><a href="#">Irvine</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Miami</a></li>
              <li class="list-group-item"><a href="#">Cincinnati</a></li>
              <li class="list-group-item"><a href="#">Tucson</a></li>
              <li class="list-group-item"><a href="#">Louisville</a></li>
              <li class="list-group-item"><a href="#">Sacramento</a></li>
              <li class="list-group-item"><a href="#">Bronx</a></li>
              <li class="list-group-item"><a href="#">Memphis</a></li>
              <li class="list-group-item"><a href="#">Cleveland</a></li>
              <li class="list-group-item"><a href="#">Oklahoma City</a></li>
              <li class="list-group-item"><a href="#">Portland</a></li>
              <li class="list-group-item"><a href="#">Minneapolis</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Scottsdale</a></li>
              <li class="list-group-item"><a href="#">Honolulu</a></li>
              <li class="list-group-item"><a href="#">New Orleans</a></li>
              <li class="list-group-item"><a href="#">Baton Rouge</a></li>
              <li class="list-group-item"><a href="#">Virginia Beach</a></li>
              <li class="list-group-item"><a href="#">Grand Rapids</a></li>
              <li class="list-group-item"><a href="#">West Palm Beach</a></li>
              <li class="list-group-item"><a href="#">Sarasoa</a></li>
              <li class="list-group-item"><a href="#">Witchita City</a></li>
              <li class="list-group-item"><a href="#">Richmond</a></li>
              <li class="list-group-item"><a href="#">Dayton</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Riverside</a></li>
              <li class="list-group-item"><a href="#">Little Rock</a></li>
              <li class="list-group-item"><a href="#">Greenville</a></li>
              <li class="list-group-item"><a href="#">chattanooa</a></li>
              <li class="list-group-item"><a href="#">Anchorage</a></li>
              <li class="list-group-item"><a href="#">Madison</a></li>
              <li class="list-group-item"><a href="#">Anaheim</a></li>
              <li class="list-group-item"><a href="#">Hialeah</a></li>
              <li class="list-group-item"><a href="#">Plano</a></li>
              <li class="list-group-item"><a href="#">Spokane</a></li>
              <li class="list-group-item"><a href="#">Staten Island</a></li>
            </ul> 
       </div>
        <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Birmingham</a></li>
              <li class="list-group-item"><a href="#">Fresno</a></li>
              <li class="list-group-item"><a href="#">Fort Lauderdale</a></li>
              <li class="list-group-item"><a href="#">Omaha</a></li>
              <li class="list-group-item"><a href="#">Colrado Springs</a></li>
              <li class="list-group-item"><a href="#">Kansas City</a></li>
              <li class="list-group-item"><a href="#">Buffalo</a></li>
              <li class="list-group-item"><a href="#">Detroit</a></li>
              <li class="list-group-item"><a href="#">Rochester</a></li>
              <li class="list-group-item"><a href="#">El Paso</a></li>
              <li class="list-group-item"><a href="#">Knoxville</a></li>
            </ul> 
       </div>
       <div class="col">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Santa Ana</a></li>
              <li class="list-group-item"><a href="#">Mobile</a></li>
              <li class="list-group-item"><a href="#">Reno</a></li>
              <li class="list-group-item"><a href="#">Saint Petersburg</a></li>
              <li class="list-group-item"><a href="#">Tallahassee</a></li>
              <li class="list-group-item"><a href="#">Arlington</a></li>
              <li class="list-group-item"><a href="#">Vancouver</a></li>
              <li class="list-group-item"><a href="#">Fort Wayne</a></li>
            </ul> 
       </div> 


    </div>
  </div>
</div>
  <!-- cities end-- >



 
     <!-- contact start --> 
 <div class="contact-page">
     <div class="container">
     <div class="row">
       <div class="col-md-4 col-sm-12 col-xs-12 ">
         <img src="assets/logo-white.png" class="center">
         <div class="address text d-none d-sm-none d-md-block">
           <p class="company-name">Global Headquarters</p>
         <p>#31, 9th Main Rd, 6th Sector,<br>HSR Layout, Bengaluru, <br>Karnataka 560102</p>
         </div>
         
       </div>
       <div class="col-md-2 ml-md-auto col-sm-6 col-xs-12 text d-none d-sm-none d-md-block">
         <p class="company-mapping">Company</p>
         <ul class="details">
           <li><a href="#">About us</a></li>
           <li><a href="#">Team</a></li>
           <li><a href="#">Careers</a></li>
           <li><a href="#">Blog</a></li>
         </ul>
       </div>
       <div class="col-md-2 col-sm-6 col-xs-12 text d-none d-sm-none d-md-block">
         <p class="company-mapping">Contact</p>
         <ul class="details">
           <li><a href="#">Help & Support</a></li>
           <li><a href="#">Partner with us</a></li>
           <li><a href="#">List with us</a></li>
         </ul>
       </div>
       <div class="col-md-2 col-sm-6 col-xs-12 text d-none d-sm-none d-md-block">
         <p class="company-mapping">Legal</p>
         <ul class="details">
           <li><a href="#">Terms & Conditions</a></li>
           <li><a href="#">Privacy Policy</a></li>
           <li><a href="#">Cookie Policy</a></li>
           <li><a href="#">Offer Terms</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
    
<!--footer -->
  <footer class="footer mt-auto py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <div class="social-media">
            <ul class="my-2">
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square mx-2"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram mx-2"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin mx-2"></i></a></li>
            </ul>
          </div>
    </div>
      <div class="col-md-3 copyright">
          <p class="text-center">&#64; 2018 ConvertCart</p>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->